* {
  padding: 0px;
  margin: 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

p {
  font-size: 15px;
}

body {
  background-color: hsl(212, 45%, 89%);

}

main {
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.main-content {
  background-color: hsl(0, 0%, 100%);
  max-width: 290px;
  padding: 15px;
  border-radius: 12px;
}

img {
  border-radius: 15px;
  width: 100%
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.text {
  margin: 0px 15px;
}

.text h1 {
  text-align: center;
  font-size: 22px;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.text p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  text-align: center;
  font-size: 15px;
  padding: 20px 0;
}

footer {
  color: hsl(220, 15%, 55%);
  font-size: 11px;
  text-align: center;
}

footer>a {
  text-decoration: none;
  color: hsl(220, 15%, 55%);
}

footer>a:hover {
  color: hsl(228, 52%, 58%);
  text-decoration: underline;
}